[Unit]
Description=nanaicamc_api
Documentation=https://api.nanaicamc.tk

[Service]
WorkingDirectory=/opt/nanaicamc/webapi
ExecStart=sh /opt/nanaicamc/webapi/start.sh
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
